header{
    height: 7vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}

.nav{
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:18vw;
    list-style-type: none;
}
.nav-block{
    display: flex;
    align-items: center;
}
.nav li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.header-wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}